.alert {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.8);
  z-index: 15;

  &[aria-hidden="false"] {
    display: block;
  }
}

.alert__inner {
  @include absolute-center;
  width: 560px;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  padding: 40px;
  color: black;
  background: white;

  @media screen and (min-width: 1024px) {
    padding: 80px 40px;
  }
}

.alert__content {

  h3 {
    @include title-xsmall;
    margin-bottom: 1.5rem;
  }
  
  p {
    margin-bottom: 1rem;
  }

  a {
    @include inline-link;
    padding: 8px;
  }
}

.alert__dismiss {
  @include close-button(16px);
}