.background {
  --position: 300%;
  --position-2: 300%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  clip-path: circle(var(--mask-size) at 50% 50%);
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.background__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--split-mask-opacity);

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.background__mask::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  @supports (-webkit-mask-composite: destination-out) {
    -webkit-mask: url(../assets/images/blob.svg) 0/80% auto no-repeat, linear-gradient(white, white);
    -webkit-mask-composite: destination-out;
  }

  @supports (mask-composite: exclude) {
    mask: url(../assets/images/blob.svg) 0/80% auto no-repeat, linear-gradient(white, white);
    mask-composite: exclude;
  }
}

.background__mask--left {
  left: 0;

  &::after {
    -webkit-mask-position: 90% var(--position), 0 0;
    mask-position: 90% var(--position), 0 0;
  }
}

.background__mask--right {
  left: 0;

  &::after {
    -webkit-mask-position: 10% var(--position-2);
    mask-position: 10% var(--position-2);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    left: 50%;
  }
}