.content-columns {
  width: 100%;
}

.content-columns {
  display: grid;
  margin: auto;
  gap: var(--grid-gutter);
  align-items: start;
  justify-content: center;
}

.content-columns[data-columns="2"] {

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 350px);
  }
}

.content-columns[data-columns="3"] {

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 350px);
  }
}

.content-columns__item {
  width: 100%;
  max-width: calc(100% - 80px);
  margin: auto;

  @media screen and (min-width: 400px) {
    max-width: 350px;
  }

  .content-columns[data-columns="2"] & {
    height: 100%;
  }
}

@media (hover: hover) {
  [data-theme="pink"] .content-columns__item a,
  [data-theme="orange"] .content-columns__item a,
  [data-theme="green"] .content-columns__item a {
    cursor: url('../assets/images/cursor-external.png'), auto;
  }

  [data-type="download"] {
    cursor: url('../assets/images/cursor-download.png'), auto;
  }

  [data-type="quiz"] {
    cursor: url('../assets/images/cursor-quiz.png'), auto;
  }
}

.content-columns--async .content-columns__item {
  @media screen and (min-width: 1024px) {
    &:first-child {
      padding-top: 33vh;
    }

    &:last-child {
      scroll-margin-top: -33vh;
      padding-top: 66vh;
    }
  }
}

.content-columns__item__inner {
  display: flex;
  position: relative;
  width: 100%;
  padding: 32px;
  color: black;
  background-color: rgba(white, 0.9);
  border-radius: 40px;
  flex-wrap: wrap;
  justify-content: center;

  p {
    @include body;
  }

  p + p {
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 100%;
  }

  @media screen and (min-width: 1024px) {
    min-height: 360px;
    padding: var(--spacing-medium);
    border-radius: 180px;
    align-content: center;
    text-align: center;

    .content-columns__item--alt & {
      padding: 100px var(--spacing-medium) 80px;
    }
  }
}

.content-columns__item__inner:focus-visible {
  outline-offset: 6px;
}

.content_columns__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  
  @media screen and (min-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}

.content-columns__item__inner[data-type] .content_columns__icon {
  position: relative;
  padding: 8px 0;
  color: white;
  text-align: center;

  svg {
    height: 24px;
  }

  @media screen and (max-width: 1023px) {
    position: absolute;
    right: 32px;
    bottom: 32px;
  }

  @media screen and (min-width: 1024px) {
    svg {
      height: 32px;
    }
  }
}

.content-columns__item__inner[data-type="download"] .content_columns__icon,
.content-columns__item__inner[data-type="quiz"] .content_columns__icon {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.content-columns__item__inner[data-type] .content_columns__icon::before {
  @include absolute-center;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--deloitte-green);
  border-radius: 50%;
}

// .content-columns__item__inner[data-type="download"] .content_columns__icon::after,
// .content-columns__item__inner[data-type="quiz"] .content_columns__icon::after  {

//   @media screen and (min-width: 1024px) {
//     @include absolute-center;
//     content: '';
//     width: 64px;
//     height: 64px;
//     border: 2px solid white;
//     border-radius: 50%;
//   }
// }

.content-columns__item__inner[data-type="download"] .content_columns__icon {

  @media screen and (min-width: 1024px) {
    top: 48%;
    left: 20%;
  }
}

// .content-columns__item__inner[data-type="quiz"] .content_columns__icon {

//   @media screen and (min-width: 1024px) {
//     top: 56%;
//     right: 15%;
//   }
// }

.content-columns__content {
  display: flex;
  position: relative;
  margin: auto;
  flex-wrap: wrap;
  z-index: 1;


  @media screen and (min-width: 1024px) {
    height: 100%;
    justify-content: center;
  }
}

.content-columns__footer {
  .content_columns__icon {
    z-index: initial;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.content-columns__link {
  position: relative;
  padding-top: 16px;
  margin-top: 16px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    align-self: flex-end;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;

    &.link {
      text-align: left;
    }
  }
  
  @media screen and (min-width: 1024px) {
    margin-top: 36px;
  }
}

.content-columns__link::before {
  @include transition(transform);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--deloitte-green);

  @media screen and (max-width: 1023px) {
    transform-origin: 0 0;
  }

  @media screen and (min-width: 1024px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

[data-theme="pink"] .content-columns__link::before,
[data-theme="pink"] .content-columns__item__inner .content_columns__icon::before {
  background-color: var(--brand-pink);
}

[data-theme="orange"] .content-columns__link::before,
[data-theme="orange"] .content-columns__item__inner .content_columns__icon::before {
  background-color: var(--brand-orange);
}

[data-theme="green"] .content-columns__link::before,
[data-theme="green"] .content-columns__item__inner .content_columns__icon::before {
  background-color: var(--brand-green);
}

.content-columns__item__inner:hover .content-columns__link::before,
.content-columns__link:hover::before {
  transform: scaleX(1.5);

  @media screen and (min-width: 1024px) {
    transform: translateX(-50%) scaleX(1.5);
  }
}

.content-columns__info {
  display: block;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
    text-align: center;
  }
}