form {
  width: 40%;
  margin: auto;
  background-color: #F0F0F0;
  padding: 60px 80px 100px 80px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  margin-bottom: 20px;
}

#message {
  height: 150px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  margin-bottom: 20px;
}

.button {
  background-color: #DD8025; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  border-radius:  100px;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover {
  background-color: #b5531a;
}

.phone-location{
  margin: 90px 0;

  img {
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 40px;
  }

  h4 {
    font-weight: 400;
    width: 70%;
    margin: auto;
    text-align: center;
  }
}