.content-block {
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--grid-width);
  min-height: 236px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    min-height: 100vh;
  }

  @media screen and (min-width: 1200px) {
    padding: var(--spacing-medium) 0;
    overflow-x: hidden;
  }
}

.content-block--wide {
  @media screen and (min-width: 1200px) {
    min-height: 100vh;
    padding: var(--spacing-large) 0;
  }
}

.content-block--sticky {
  overflow: initial;
}

.content-block--start {
  width: 100%;
  min-height: 100vh;
  align-content: flex-start;
}

.content-block--center {
  flex-wrap: wrap;
  align-content: center;
}

.content-block__inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    position: sticky;
    top: var(--sticky-top);
    left: 0;
  }
}