.content-block {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 236px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    min-height: 100vh;
  }

  @media screen and (min-width: 1024px) {
    padding: var(--spacing-medium) 0;
    overflow-x: hidden;
  }

  @media screen and (min-width: 1200px) {
    max-width: var(--grid-width);
  }
}

.content-block--wide {
  @media screen and (min-width: 768px) {
    min-height: 100vh;
  }
}

.content-block--sticky {
  overflow: initial;
}

.content-block--start {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  align-content: flex-start;
}

.content-block--center {
  flex-wrap: wrap;
  align-content: center;
}

.content-block__inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    position: sticky;
    top: var(--sticky-top);
    left: 0;
  }
}

.content-block__inner--top {
  top: 0;
  align-content: center;

  @media screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.content-block__background {
  @include bg-img(contain);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}