.footer {
  padding: 20px 0;
  color: var(--tone-mid-gray);
  background-color: black;

  @media screen and (min-width: 1024px) {
    display: flex;
    padding: 32px 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo,
.footer__text {
  margin: 0 20px;

  @media screen and (min-width: 1024px) {
    margin: 0 32px;
  }
}

.footer__logo {
  width: 110px;
}

.footer__text {
  font-size: 0.75rem;

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
  }
}