.footer{
    margin: 30px 0;
    left: 0;
    bottom: 0;
    width: 97%;
    border-top: 0.5px black solid;
    padding: 20px;
}

.footer a {
    float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.footer a.logo {
    font-size: 25px;
    font-weight: 700;
  }

  .footer p {
    float: right;
  }