.group {
  position: relative;

  @media screen and (min-width: 1024px) {
    display: flex;
    width: fit-content;
    height: 100vh;
    flex-flow: row nowrap;
    align-self: flex-start;
    align-items: flex-start;
  }
}

.group__nav {
  @include transition(opacity);
  display: flex;
  position: absolute;
  opacity: 0;
  z-index: 5;

  &.is-fixed {
    position: fixed;
    opacity: 1;
  }

  @media screen and (max-width: 1023px) {
    bottom: 32px;
    left: 50%;
    margin-bottom: 32px;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 1024px) {
    top: 0;
    left: 32px;
    margin-left: 32px;
    height: 100vh;
    flex-wrap: wrap;
  }
}

.group__list {
  margin: auto;

  @media screen and (max-width: 1023px) {
    padding: 8px;
    line-height: 1;
    background-color: rgba(black, 0.7);
    border-radius: 50px;
  }
}

.group__item {
  @include transition((opacity, transform));
  margin: 0 4px;

  @media screen and (max-width: 1023px) {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
  }

  @media screen and (min-width: 1024px) {
    margin: 48px 0;
    opacity: 0;
    transform: translateX(-20px);
  }

  .group__nav.is-fixed & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.group__item:nth-child(2) {
  transition-delay: 100ms;
}

.group__item:nth-child(3) {
  transition-delay: 200ms;
}

.group__link {
  display: block;
  position: relative;
}

.group__nav__marker {
  @include bg-img(contain);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @media screen and (min-width: 1024px) {
    width: 60px;
    height: 60px;
  }
}

.group__nav__marker::after {
  @media screen and (min-width: 1024px) {
    @include transition((opacity, transform));
    @include absolute-center;
    content: '';
    width: 80px;
    height: 80px;
    opacity: 0;
    border: 2px solid var(--brand-pink);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);

    .group__item:nth-child(2) & {
      border-color: var(--brand-orange);
    }

    .group__item:nth-child(3) & {
      border-color: var(--brand-green);
    }

    .group__link.is-active & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.group__nav__label {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 80px;
  margin-left: 20px;
  font-size: 0.875rem;
  line-height: calc(20 / 14);
  text-shadow: 0 0 3px rgba(black, 0.8);
  transform: translateY(-50%);

  span {
    @include transition((opacity, transform));
    display: block;
    opacity: 0;
    transform: translateX(20px);
    transition-delay: 100ms;
  }

  &:nth-child(2) {
    transition-delay: 0ms;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.group__link:hover .group__nav__label span {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0ms;

  &:nth-child(2) {
    transition-delay: 100ms;
  }
}

.group__background {
  --size: 20vw;
  --max-size: 42vw;
  @include bg-img(contain);
  @include transition((background-size, opacity));
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/sphere-1.png');
  background-size: var(--size) auto;
  opacity: 0;
  pointer-events: none;
  z-index: -1;

  &.is-fixed {
    position: fixed;
  }
}

.group__background.is-visible {
  
  background-size: var(--max-size) auto;
  opacity: 1;
}