p {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.page__top {
  background-image: url("../assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__menu {
  display: flex;
  align-items: center;
}

.search__icon,
.sign__in {
  margin-right: 15px;
}

.get__started__button {
  width: 160px;
  color: beige;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.its__free {
  color: grey;
}
