.hero {
  margin-bottom: 80px;
}

.card__image {
  max-width: 70%;
  display: flex;
  margin: auto;
}

.hero__text {
  text-align: center;
  h1 {
    font-weight: 700;
  }
  .get__started__button {
    margin: auto;
  }
}
