.nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  z-index: 10;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.nav__list {
  padding: 0;
  margin: auto auto auto 0;
}

.nav__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  align-items: center;
}

.nav__link:focus-visible {
  outline-offset: -2px;
}

.nav__marker {
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transition: background-color var(--transition-dur) var(--transition-ease);
}

.nav__link.is-active .nav__marker,
.nav__link:hover .nav__marker {
  background-color: var(--deloitte-green);
}

.nav__marker::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-dur) var(--transition-ease);
}

.nav__link.is-active .nav__marker::after,
.nav__link:hover .nav__marker::after {
  transform: translate(-50%, -50%) scale(1);
}

.nav__label {
  @include label;
  position: absolute;
  right: 100%;
  opacity: 0;
  margin-right: 2px;
  transform: translateX(10px);
  transition-duration: var(--transition-dur);
  transition-property: opacity, transform;
  transition-timing-function: var(--transition-ease);
  pointer-events: none;
  white-space: nowrap;
}

.nav__link:hover .nav__label {
  opacity: 1;
  transform: translateX(0);
}