.orb-list {
  display: grid;
  width: calc(100% - 80px);
  margin-top: var(--spacing-medium);
  column-gap: var(--grid-gutter);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.orb-list__item a {
  display: block;

  @media screen and (max-width: 767px) {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.orb-list__title {
  @include title-xsmall;
  width: 124px;
  flex-shrink: 0;
  text-align: left;

  span {
    display: block;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    span {
      text-indent: 13%;
    }
  }

  @media screen and (min-width: 1024px) {
    margin-top: 32px;
  }
}

.orb-list__item:nth-child(3) .orb-list__title span {
  @media screen and (min-width: 768px) {
    text-indent: 25%;
  }
}

.orb-list__orb {
  @include transition((filter, transform));
  @include aspect-ratio;
  display: block;
  width: 100px;
  margin-right: 32px;
  aspect-ratio: 1;
  flex-grow: 0;
  // opacity: 0;
  // transform: scale(0.5);

  .is-visible & {
    opacity: 1;
    transform: scale(1);
  }

  @media screen and (min-width: 768px) {
    margin: auto;
  }

  @media screen and (min-width: 1200px) {

    .orb-list:hover & {
      filter: grayscale(100%);
      transform: scale(0.9);
    }
  
    .orb-list__item a:hover & {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: 768px) and (min-height: 600px) {
    width: 180px;
  }

  @media screen and (min-width: 1024px) and (min-height: 720px) {
    width: 260px;
  }
}