.section {
  position: relative;
}

.section--horizontal {
  position: relative;
}

.section--padded {
  @media screen and (min-width: 1024px) {
    scroll-margin-top: -80vw;
  }
}

.section__inner {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

.section__track {
  @media screen and (max-width: 1023px) {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    align-self: flex-start;
    align-items: flex-start;
    will-change: transform;
  }
}

.section--padded .section__track {

  @media screen and (min-width: 1024px) {
    padding: 0 80vw;
  }
}

.section__frame {
  flex: none;
  position: relative;
  height: 100%;
  padding: var(--spacing-large) var(--grid-gutter);

  @media screen and (min-width: 1024px) {
    display: flex;
    width: fit-content;
    flex-flow: row nowrap;
    align-self: flex-start;
    align-items: flex-start;
  }
}

.section__frame--full {
  min-width: 100vw;
  padding: 0;

  @media screen and (max-width: 1023px) {
    padding: var(--spacing-medium) 0;
  }
}

.section__frame--glob {
  @media screen and (min-width: 1024px) {
    padding: var(--spacing-large);
    padding-right: 33vw;
  }
}

.section__intro {
  @include body-lg;
  max-width: calc(100% - 80px);
  margin: auto;
  text-align: center;

  @media screen and (min-width: 640px) {
    max-width: 500px;
  }
}

.section__nav {
  position: absolute;
  bottom: 16px;
  left: 100%;
  width: 100vw;
}

.section__text {
  @include body-extra;
  max-width: calc(100% - 80px);
  margin-top: 20px;

  p {
    padding-top: 40px;
    margin-top: 100px;
  }

  @media screen and (min-width: 640px) {
    max-width: 560px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 654px;
  }
}

.section__text--wide {

  @media screen and (min-width: 1024px) {
    max-width: 868px;
  }
}

.section__text--tight p:first-child {
  padding-top: 0;
}

.section__text__stat {
  max-width: 380px;
  margin: auto;
  text-align: center;

  span:first-of-type {
    @include title-extra;
    font-weight: 800;
    display: block;
  }
}

.section__footnote {
  max-width: calc(100% - 80px);
  padding-top: var(--spacing-medium);

  a {
    @include inline-link;
  }

  @media screen and (min-width: 640px) and (max-width: 1023px) {
    max-width: 560px;
  }

  @media screen and (max-width: 1023px) {
    text-align: center;
  }
}

.section__link {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 1200px) {
    bottom: 40px;
  }
}

.section__nav ul {
  all: unset;
}

.section__nav li {
  all: unset;
  display: inline-block;
}

.section__nav li::before {
  display: none;
}

.section__nav a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 8px;
  background-color: lightgrey;
  border-radius: 50%;
}