@keyframes split-anim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes split-anim-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.split-text {

  .word {
    display: inline-block;
    position: relative;
    opacity: 0;
    text-indent: 0;
  }
}

.split-text[data-visible="true"] {

  .word {
    animation: split-anim var(--transition-dur) var(--transition-ease) both;
    animation-delay: calc(100ms * var(--word-index) + 200ms);
  }

  @media (prefers-reduced-motion) {
    .word {
      animation-name: split-anim-fade;
    }
  }
}