.title {
  @include title;
  width: 100%;
  max-width: 375px;
  text-align: center;

  @media screen and (min-width: 1024px) {
    max-width: 820px;
  }
}

.title--extra {
  @include title-extra;

  @media screen and (min-width: 1024px) {
    max-width: 860px;
  }
}

.title--wide {
  max-width: 400px;

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}

.title:not([data-type="split"]) {
  opacity: 0;
  margin-top: 160px;
}

.title__left,
.title__right {
  display: block;

  .title.anim-in & {
    opacity: 0;
    animation: slide-in 400ms both;
  }
}

.title__left {
  animation: slide-out-left 400ms both;

  .title.anim-in & {
    transform: translateX(-360px);
  }
}

.title__right {
  animation: slide-out-right 400ms both;

  .title.anim-in & {
    transform: translateX(360px);
    animation: slide-in 400ms both;
  }
}

.title__fade {
  display: block;
  animation: fade-out 400ms both;

  .title.anim-in & {
    opacity: 0;
    animation: fade-in 400ms both;
  }
}


.title.anim-in span:nth-child(2) {
  animation-delay: 200ms;
}

.title.anim-in span:nth-child(3) {
  animation-delay: 300ms;
}

.title.anim-in span:nth-child(4) {
  animation-delay: 400ms;
}