.title-wrap {
  width: 100%;
}

.title {
  @include title;
  width: 100%;
  max-width: calc(100% - 80px);
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: 560px) {
    max-width: 500px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 820px;
  }
}

.title--reduced {
  @include title-mid;
}

.title--extra {
  @include title-extra;

  @media screen and (min-width: 1024px) {
    max-width: 860px;
  }
}

.title--wide {

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}

.title:not([data-type="split"]) {
  opacity: 0;
  margin-top: 10vh;
}

.title__left,
.title__right,
.title__fade {
  display: block;
  opacity: 1;

  .title.anim-in & {
    opacity: 0;
    animation: slide-in 400ms both;
  }
}

.title__left {
  animation: slide-out-left 400ms both;

  .title.anim-in & {
    transform: translateX(-360px);
  }
}

.title__right {
  animation: slide-out-right 400ms both;

  .title.anim-in & {
    transform: translateX(360px);
    animation: slide-in 400ms both;
  }
}

.title__fade {
  animation: fade-out 400ms both;

  .title.anim-in & {
    opacity: 0;
    animation: fade-in 400ms both;
  }
}


.title.anim-in span:nth-child(2) {
  animation-delay: 200ms;
}

.title.anim-in span:nth-child(3) {
  animation-delay: 300ms;
}

.title.anim-in span:nth-child(4) {
  animation-delay: 400ms;
}