@import 'plyr/dist/plyr.css';

.video__placeholder {
  @include aspect-ratio(56%);
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  color: white;
  border: none;
  opacity: 0;
  overflow: hidden;

  @media screen and (min-width: 640px) {
    max-width: 500px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 640px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 800px;
  }
}

.video__poster {
  position: relative;
  padding-top: 56.25%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.video__poster::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.5);
}

.video__poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__content {
  position: relative;
  text-align: center;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    @include absolute-center;
  }
}

.video__title {
  @include title-small;
  width: 100%;
  margin-bottom: 1rem;
}

.video__description {
  @include body-lg;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 1rem;
}

.video__play,
.video__play--mobile {
  @include transition(background-color);
  display: flex;
  width: 34px;
  height: 34px;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 50%;
}

.video__play::after,
.video__play--mobile::after {
  @include transition(border-left-color);
  content: "";
  display: flex;
  margin: 9px 6px;
  border-left: 14px solid black;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.video__play:hover,
.video__play--mobile:hover {
  background-color: var(--deloitte-green);

  &::after {
    border-left-color: white;
  }
}

.video__play {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.video__play--mobile {
  @include absolute-center;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.video__modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.video__modal[aria-hidden="false"] {
  display: block;
}

.video__modal__inner {
  @include transition((opacity, transform));
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.9);
  opacity: 0;
  transform: scale(0.8);
  transition-duration: 3s;
}

.video__modal[aria-hidden="false"] .video__modal__inner {
  opacity: 1;
  transform: scale(1);
}

.video__modal__content {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1024px;
  margin: auto;
}

.video__modal__content::after {
  content: '';
  display: block;
  padding-bottom: calc(9 /16 * 100%);
}

.video__modal__dismiss {
  @include font-opensans(600);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  color: white;
  font-size: 32px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
}

.video,
.plyr {
  --plyr-color-main: var(--deloitte-green);
  @include absolute-center;
  width: 100%;
  height: 100%;
}