@import "../assets/sprites/tmpl.scss";

@each $icon, $dimensions in $sizes {
  .icon--#{$icon} {
    width: nth(nth($dimensions, 1), 2);

    &::before {
      padding-top: calc(nth(nth($dimensions, 2), 2) / nth(nth($dimensions, 1), 2) * 100%);
    }
  }
}

.icon {
  display: inline-block;
  position: relative;
  max-width: 100%;

  &::before {
    content: "";
    display: block;
  }

  // Transparent layer above SVG to prevent event bubbling/delegation issues
  // when clicking an icon
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  // Position SVG absolutely inside intrinsic aspect ratio box
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}