@mixin title-weight {
  @include font-opensans(300, italic);

  b {
    @include font-opensans(800, italic);
  }
}

@mixin title-extra {
  @include title-weight;
  @include font-size(3.5rem, 5rem);
  letter-spacing: -0.03em;
  line-height: calc(94px / 80px);
}

@mixin title {
  @include title-weight;
  @include font-size(2.5rem, 3.75rem);
  letter-spacing: -1.8px;
  line-height: calc(70px / 60px);
}

@mixin title-mid {
  @include font-opensans(800, italic);
  @include font-size(1.5rem, 2.5rem);
  letter-spacing: -0.05em;
  line-height: calc(30px / 40px);
}

@mixin label {
  @include font-opensans(600);
  font-size: var(--font-xsmall);
  letter-spacing: 0.05em;
  line-height: calc(42px / 12px);
  text-transform: uppercase;
}


@mixin body-extra {
  @include font-opensans(300);
  @include font-size(1.25rem, 1.5rem);
  line-height: calc(34 / 24);
}

@mixin body-lg {
  @include font-opensans(400);
  @include font-size(1rem, 1.25rem);
  letter-spacing: -0.025em;
}

@mixin body {
  @include font-opensans(400);
  font-size: 1rem;
  line-height: 1.625;
}

h1 {
  @include title-extra
}

h2 {
  @include title;
}

h3 {
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: 1.1;
}

h4 {
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.1;
}