.ut-block {
  display: block;
}

.ut-text-left {
  text-align: left;
}

.ut-no-marg {
  margin: 0;
}

.ut-no-marg--bottom {
  margin-bottom: 0;
}

[class^="ut-indent-"] {
  display: block
}

.ut-indent-13 {
  text-indent: 13%;
}

.ut-indent-25 {
  text-indent: 25%;
}

.ut-indent-32 {
  text-indent: 32%;
}

.ut-indent-neg-22 {
  text-indent: -22%;
}

.ut-indent-neg-50 {
  text-indent: -50%
}