.ut-screenreader {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      white-space: inherit;
      width: auto;
    }
  }
}

.ut-mobile-only {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.ut-desktop-only {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.ut-text-left {
  text-align: left;
}

.ut-text-center {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .ut-lg-text-left {
    text-align: left;
  }
}

.ut-italic {
  font-style: italic;
}

.ut-self-center {
  align-self: center;
}

.ut-self-bottom {
  align-self: end;
}