/* breakpoints */
$breakpoints: (
  xsmall: 20rem, /* 320px */
  small: 36rem,  /* 576px */
  medium: 48rem, /* 768px */
  large: 64rem,  /* 1024px */
  xlarge: 75rem  /* 1200px */
);

@function breakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

:root {
  /* brand colors */
  --brand-pink: #ee087d;
  --brand-orange: #E17C13;
  --brand-green: #20a188;
  --deloitte-green: #86bc25;
  --tone-mid-gray: #cccccc;

  /* grid variabsles */
  --grid-gutter: 20px;
  --grid-width: calc(100% - 80px);

  /* font sizes */
  --font-xsmall: 12px;
  --font-small: 15px;

  /* block spacing */
  --spacing-small: 1.5rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;

  /* animation */
  --duration: 15s;
  --transition-dur: 295ms;
  --transition-ease: cubic-bezier(0, .5, .5, 1);

  /* background */
  --mask-size: 0px;
  --opacity: 0;
  --split-mask-opacity: 0;

  --sticky-top: 160px;

  @media screen and (min-width: 1200px) {
    /* grid variabsles */
    --grid-gutter: 2.5rem;
    --grid-width: calc(1200px - 4rem);

    /* block spacing */
    --spacing-medium: 3rem;
    --spacing-large: 5rem;
  }
}

// Title animations
@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes slide-out-left {
  to {
    opacity: 0;
    transform: translateX(-360px)
  }
}

@keyframes slide-out-right {
  to {
    opacity: 0;
    transform: translateX(360px)
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-out {
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}